BasedOnStyle: Google
Standard: c++20
ColumnLimit: 120
DerivePointerAlignment: false
PointerAlignment: Left
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<(cuda|cublas|curand)'
    Priority: 1
  - Regex: '^<.*>'
    Priority: 2
  - Regex: '^"'
    Priority: 3
