{
"num_threads": 8,
"num_graphs": 10,
"graph_size": [10, 15, 20],
"density": [0.33, 0.5, 0.67],
"algorithms": ["NeighborhoodWithManyLocalSearches","NeighborhoodWithOneLocalSearch","NeighborhoodOfPreClusteringVertices","Neighborhood","BranchAndBounds","BrutForce"],
"parts": [0.1, 0.1]
}