{
"num_threads": 8,
"num_graphs": 89,
"graph_size": [500, 550, 600],
"density": [0.33,0.5,0.67],
"algorithms": ["NeighborhoodWithLocalSearch","TwoVerticesNeighborhood","TwoVerticesNeighborhoodWithLocalSearch","NeighborhoodWith2LocalSearches"]
}